{% extends 'admin/layout.html.twig' %}

{% block body_id 'user_registration' %}

{% block main %}
    <h1>{{ 'user.post_new'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        <!--{{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}-->

    <button type="submit" class="btn btn-info btn-lg">Kayıt Ol!</button>

    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
